<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="QuarkusRunConfigurationType" factoryName="Quarkus" nameIsGenerated="true">
    <module name="${name}-backend" />
    <MavenRunConfiguration>
      <MavenSettings>
        <option name="myGeneralSettings" />
        <option name="myRunnerSettings" />
        <option name="myRunnerParameters">
          <MavenRunnerParameters>
            <option name="cmdOptions" value="" />
            <option name="profiles">
              <set />
            </option>
            <option name="goals">
              <list>
                <option value="quarkus:dev" />
              </list>
            </option>
            <option name="multimoduleDir" />
            <option name="pomFileName" value="pom.xml" />
            <option name="profilesMap">
              <map />
            </option>
            <option name="projectsCmdOptionValues">
              <list />
            </option>
            <option name="resolveToWorkspace" value="false" />
            <option name="workingDirPath" value="$PROJECT_DIR$/${name}-backend" />
          </MavenRunnerParameters>
        </option>
      </MavenSettings>
      <targetMavenLocalRepo />
      <emulateTerminal>true</emulateTerminal>
    </MavenRunConfiguration>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>